.image-reveal-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    line-height: 0;
    /* Remove extra space below image */
    user-select: none;
}

.tile {
    background-color: #2b2b2b;
    border: 0.5px solid #1a1a1a;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.tile.removed {
    opacity: 0 !important;
    pointer-events: none;
}